@import url(/CSS/links.css);
@import url(/CSS/fonts.css);
@import url(/CSS/colors.css);

.main_section_space{
  border: 0px;
  height: 5vh;
}

#myUL{
  list-style-type: none;
}

#main{
  min-height:100vh!important;
  overflow: hidden;
}

.about_image{
  height: 40vh;
}